html,
body {
    background-color: rgb(71, 71, 199) !important;
    color: aliceblue;
}
#myHeader {
    background-image: url(sources/photoDev.jpg);
    opacity: 0.9;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: aliceblue;
}
.exPro {
    color: aliceblue;
}
.listExp {
    list-style-type: circle;
}

.description {
    color: aliceblue;
    position: absolute;
    margin-left: 18%;
    bottom: 0px;
}
.fotoPerso {
    border-radius: 10%;
    opacity: 0.9;
}
@media screen and (max-width: 770px) {
    .fotoPerso {
        display: none;
    }
}
.rowCompetences {
    margin: auto;
}
.card {
    background-color: rgb(71, 71, 199) !important;
    border: 1px solid white !important;
}
.card-title {
    color: white;
}
